* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f6fa;
}

.fa-pencil-alt, .fa-trash-alt {
    pointer-events: none;
    color: white;
}

.disabled {
    border: none;
    background-color: transparent !important;
    color: #000;
}

.header {
    min-height: 7vh;
}

.main {
    min-height: 89vh;
}

.footer {
    min-height: 4vh;
    display: flex;
    justify-content: center;
}